/* =Structure
-------------------------------------------------------------- */

* {
box-sizing: border-box;
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

html {
overflow-y: scroll;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background: url("../images/background.jpg") repeat scroll 0 0;
}

.container {
	padding: 5%;
	margin: 5%;
	background: $brand-color5;
}

.content {
	max-width: 550px;
}

.logo {
  display: inline-block;
  margin: 5% 0 0 5%;
}

.right-sidebar ul {
  background: none repeat scroll 0 0 $brand-color6;
  margin: 0;
  padding: 5% 5% 5% 25px;
}

.right-sidebar li {
  margin: 0 0 5%;
}

@media screen and (min-width: 700px) {

.container {
	padding: 2.5%;
	margin: 0;
	@include clearfix;
}
.content { width: 60%; float:left; }
.right-sidebar { width: 35%; margin: 0 0 0 5%; float:left; }

}