/* =Structure
-------------------------------------------------------------- */

* {
box-sizing: border-box;
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

html {
overflow-y: scroll;
}

img {
	max-width: 100%;
	height: auto;
}

.element-invisible { display: none; }

body {
	background: url("../images/background.jpg") repeat scroll 0 0;
}

.container {
	padding: 5%;
	margin: 5%;
	background: $brand-color5;
}

.breadcrumb {
	margin: 5%;
}

.content {
	max-width: 550px;
}

.right-sidebar {
  max-width: 330px;
}

.logo {
  display: inline-block;
  margin: 5% 0 0 5%;
}

.right-sidebar ul {
  background: none repeat scroll 0 0 $brand-color6;
  margin: 0;
  padding: 5% 5% 5% 25px;
}

.right-sidebar li {
  margin: 0 0 5%;
}

.right-sidebar .search {
  display: none;
}

@media screen and (min-width: 700px) {

.logo {
  margin: 2.5% 0 2.5% 5%;
}

.container {
	padding: 2.5%;
	margin: 0;
	@include clearfix;
}

.breadcrumb {
	margin: 0;
	@include clearfix;
}

.content {
  width: 60%;
  float:left;
}

.right-sidebar {
  width: 35%;
  margin: 0 0 0 5%;
  float:left;
}

.right-sidebar .search {
  display: block;
  margin-bottom: 42px;
}

.breadcrumb .search {
  display: none;
}
}

@media screen and (min-width: 1152px) {

.logo {
  margin: 1% 0 1% 5%;
}

.breadcrumb,
.container {
  max-width: 960px;
  margin: 0 auto;
}


}