/* =Variables
-------------------------------------------------------------- */
$brand-color1: #1f3955; /* Dark blue */
$brand-color2: #0058a8; /* Shield blue */
$brand-color3: #febf10; /* Shield yellow-orange */
$brand-color4: #ed174b; /* Shield red */
$brand-color5: #ffffff; /* White */
$brand-color6: #ded7c1; /* Beige */
$brand-color7: #edebdf; /* Lighter beige */


/* =Mixins
-------------------------------------------------------------- */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Import normalize
@import url("//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css");

// Import source sans font
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,900italic);

// Import typography
@import "typography";

// Import structure
@import "responsive-nav";

// Import structure
@import "structure";

// Import search
@import "search";