
// =Variables for typography expressed in pixels
$title-text: 47;
$headline-text: 29;
$subhead-text: 23;
$primary-text: 18;
$secondary-text: 14;
$title-leading: 60;
$headline-leading: 44;
$primary-leading: 27;
$secondary-leading: 27;


// =Font size and line height mixin for pixels and rems
@mixin font-size($fontsize: $primary-text, $lineheight: $primary-leading) {
font-size: $fontsize + px;
font-size: ($fontsize / 16) + rem;
line-height: $lineheight + px ;
line-height: ($lineheight /16) + rem ;
}




html {
	font-size: 100%;
}

body {
@include font-size($primary-text,$primary-leading);
	font-family: "Droid Serif", Georgia, serif;
	color: $brand-color1;
}

h1, h2, h3, h4, h5, h6 { font-family: "Source Sans Pro", sans-serif; }

h1 {
@include font-size($title-text,$title-leading);
}

h3 {
@include font-size($headline-text,$headline-leading);
}



a:link {
    color: $brand-color2;
}