/*
Error: Invalid CSS after "...; float:left; @": expected identifier, was " }"
        on line 51 of src/sass/structure.scss
        from line 34 of src/sass/template.scss

46: 
47: .container {
48: 	margin: 0;
49: }
50: .content { width: 75%; float:left; }
51: .right-sidebar { width: 25%; float:left; @ }
52: 
53: }

Backtrace:
src/sass/structure.scss:51
src/sass/template.scss:34
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:1163:in `expected'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:1099:in `expected'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:1094:in `tok!'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:191:in `directive'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:661:in `block_child'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:653:in `block_contents'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:642:in `block'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:661:in `block_child'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:653:in `block_contents'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:642:in `block'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:401:in `media_directive'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:219:in `special_directive'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:194:in `directive'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:660:in `block_child'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:653:in `block_contents'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:42:in `parse'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/engine.rb:393:in `_to_tree'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/engine.rb:299:in `to_tree'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:306:in `block in visit_import'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/stack.rb:88:in `block in with_import'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/stack.rb:88:in `with_import'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:305:in `visit_import'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `block in with_base'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/stack.rb:115:in `with_frame'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/stack.rb:79:in `with_base'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:152:in `visit'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `map'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:151:in `visit'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:375:in `run'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:62:in `process_result'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/exec/base.rb:40:in `parse'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/lib/sass/exec/base.rb:19:in `parse!'
/home/codio/.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/sass-3.4.0/bin/sass:13:in `<top (required)>'
/home/codio/.rbenv/versions/2.0.0-p353/bin/sass:23:in `load'
/home/codio/.rbenv/versions/2.0.0-p353/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...; float:left; @\": expected identifier, was \" }\"\A         on line 51 of src/sass/structure.scss\A         from line 34 of src/sass/template.scss\A \A 46: \A 47: .container {\A 48: 	margin: 0;\A 49: }\A 50: .content { width: 75%; float:left; }\A 51: .right-sidebar { width: 25%; float:left; @ }\A 52: \A 53: }"; }
